{% extends "base.html" %}
{% block head_title %} Lista Contatti {% endblock head_title %}
{% block content %}
    <h1><strong>Lista Contatti</strong></h1>
    <table>
        <tr>
            {%  if request.user.is_authenticated %}
            <td>Cancella</td>
            <td>Modifica</td>
            {% endif %}
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Contenuto</th>
        </tr>
        {% for contatto in contatto %}
            <tr>
                {%  if request.user.is_authenticated %}
                <td><a href="{% url 'forms_app:elimina_contatto' contatto.pk %}"><i class="fas fa-eraser"></i></a></td>
                <td><a href="{% url 'forms_app:modifica_contatto' contatto.pk %}"><i class="fas fa-edit"></i></a></td>
                {% endif %}
                <td>{{ contatto.nome }}</td>
                <td>{{ contatto.cognome }}</td>
                <td>{{ contatto.email }}</td>
                <td>{{ contatto.contenuto }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
