{% extends "base.html" %}
{% block title %}{{ block.super }} | Index news {% endblock title %}
{% block content %}
    <ol>
        <li><a href="{% url 'news:homepage'%}">Homepage benvenuto</a></li>
        <li><a href="{% url 'news:articolo_detail' 1%}">Articolo details</a></li>
        <li><a href="{% url 'news:lista_articoli' 1%}">Lista articoli con parametro</a></li>
        <li><a href="{% url 'news:lista_articoli'%}">Lista articoli </a></li>
        <li><a href="{% url 'news:giornalistaDetailView' 1%}">Articolo details</a></li>
        <li><a href="{% url 'news:query_base'%}">Query Base</a></li>
    </ol>
{% endblock content %}